## .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/

## NuGet
*.nupkg
packages/

## Build results
[Dd]ebug/
[Rr]elease/

## IDE
.idea/
.vscode/
*.swp

## OS
.DS_Store
Thumbs.db

## User-specific files
*.rsuser
*.userprefs

## SQL Server
*.mdf
*.ldf

## Environment
.env
